<article>
    <h3>
        <p>
            So far I do not have any noteworthy feedback.<br />
            The course material and style of tutoring have been well established.<br />
            The midterm was also very fair and just the right amount of challenging. I liked the fact that we could use MSDN during the exam.<br />
            Keep up the good work!
        </p>
    </h3>
</article>