@{ViewBag.Title = "Many Green Bottles";}

<form asp-controller="Home" asp-action="Sing" method="post">
    <table>
        <tr>
            <td>Enter the number of bottles between 50 and 100:</td>
            <td><input type="number" min="50" max="100" style="width: 50px;" name="numBottles" /></td>
            <td><input type="submit" value="Sing!" /></td>
        </tr>
    </table>
</form>