@{
    ViewData["Title"] = "Index";
}

<article class="text-center">
    <h1 class="display-4">Welcome to Assignment 2</h1>
    <h1 class="display-4">&commat;Authors: Neil Kingdom &amp; John Hoang</h1>
</article>
